
$min-small : 'min-width: 768px';
$min-medium : 'min-width: 992px';
$min-large : 'min-width: 1200px';

$max-small : 'max-width: 768px';
$max-medium : 'max-width: 992px';
$max-large : 'max-width: 1200px';
