
// mixin
@use "../my-modules/mixin" as *;
// varibles 
@use "../variables/media" as *;

* {
   box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.container{
   & {
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;  
      padding-right: 15px;  
   }

   @include media (min, mobile) {
      width : 750px;
   }
   @include media (min, medium) {
      width : 970px;
   }
   @include media (min, large) {
      width : 1170px;
   }
}