<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- normalize  -->
        <link rel="stylesheet" href="../static/css/normalize.css">
        <!-- font  -->
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
        <!-- icon  -->
        <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css'>
        <!-- style  -->
        <link rel="stylesheet" href="../static/css/index.css">
        

        <title>template2</title>
    </head>
    <body>
        <header>
            <div class="container">

                <div class="logo">
                    <img src="../static/images/logo.png" alt="logo">
                </div>

                <div class="navbar">
                    
                    <i class="fas fa-bars toggle-menu"> </i>

                    <div class="nav">
                        <ul>
                            <li> <a href="#Home"> HOME </a> </li>
                            <li> <a href="#Services"> SERVICES </a> </li>
                            <li> <a href="#PORTFOLIO"> PORTFOLIO </a> </li>
                            <li> <a href="#ABOUT"> ABOUT </a> </li>
                            <li> <a href="#PRICING"> PRICING </a> </li>
                            <li> <a href="#PRICING"> CONTACT </a> </li>
                        </ul>
                    </div>

                    <div class="search">
                        <i class="fas fa-search"></i>
                    </div>

                </div>

            </div>
        </header>

        <div class="landing">
            <div class="overlay"></div>
            <div class="text">
                <div class="content">
                    <h2>
                        Hello World!<br />
                        We Are Kasper We Make Art.
                      </h2>
                      <p>
                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt
                        nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet
                        elit, eget tincidunt.
                      </p>
                </div>
            </div>
            <i class="fas fa-angle-left change-background fa-2x"></i>
            <i class="fas fa-angle-right change-background fa-2x"></i>
            <div class="bullets">
                <ul>
                    <li></li>
                    <li class="active"></li>
                    <li></li>
                </ul>
            </div>

        </div>

        <div class="main-heading">
            <h2> services</h2>
            <p>
                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget
                tincidunt.
            </p>
        </div>


        <div class="services">

                <div class="flexx">
                    <div class="image"> 
                        <i class="fas fa-desktop fa-3x"></i>
                    </div>

                    <div class="write">
                        <h3> Vorem amet intuitive</h3>
                        <p> 
                            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget
                            tincidunt nibh pulvinar a. Curabitur aliquet quam. 
                        </p>
                    </div>
                </div>
                <div class="flexx">
                    <div class="image"> 
                        <i class="fas fa-cog fa-3x"></i>
                    </div>

                    <div class="write">
                        <h3> Vorem amet intuitive</h3>
                        <p> 
                            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget
                            tincidunt nibh pulvinar a. Curabitur aliquet quam. 
                        </p>
                    </div>
                </div>
    
                
          

                <div class="flexx">
                    <div class="image"> 
                        <i class="fas fa-pencil-ruler fa-3x"></i>
                    </div>

                    <div class="write">
                        <h3> Vorem amet intuitive</h3>
                        <p> 
                            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget
                            tincidunt nibh pulvinar a. Curabitur aliquet quam. 
                        </p>
                    </div>
                </div>
                <div class="flexx">
                    <div class="image"> 
                        <i class="fas fa-camera fa-3x"></i>
                    </div>

                    <div class="write">
                        <h3> Vorem amet intuitive</h3>
                        <p> 
                            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget
                            tincidunt nibh pulvinar a. Curabitur aliquet quam. 
                        </p>
                    </div>
                </div>


          

            
        </div>
        
    </body>
</html>