<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- normalize  -->
        <link rel="stylesheet" href="../static/css/normalize.css">
        <!-- font  -->
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
        <!-- icon  -->
        <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css'>
        <!-- style  -->
        <link rel="stylesheet" href="../static/css/index.css">
        

        <title>template2</title>
    </head>
    <body>
        <header>
            <div class="container">

                <div class="logo">
                    <img src="../static/images/logo.png" alt="logo">
                </div>

                <div class="navbar">
                    
                    <i class="fas fa-bars toggle-menu"> </i>

                    <div class="nav">
                        <ul>
                            <li> <a href="#Home"> HOME </a> </li>
                            <li> <a href="#Services"> SERVICES </a> </li>
                            <li> <a href="#PORTFOLIO"> PORTFOLIO </a> </li>
                            <li> <a href="#ABOUT"> ABOUT </a> </li>
                            <li> <a href="#PRICING"> PRICING </a> </li>
                            <li> <a href="#PRICING"> CONTACT </a> </li>
                        </ul>
                    </div>

                    <div class="search">
                        <i class="fas fa-search"></i>
                    </div>

                </div>

            </div>
        </header>

        <div class="landing">
            <div class="overlay"></div>
            <div class="text">
                <div class="content">
                    <h2>
                        Hello World!<br />
                        We Are Kasper We Make Art.
                      </h2>
                      <p>
                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt
                        nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet
                        elit, eget tincidunt.
                      </p>
                </div>
            </div>
            <i class="fas fa-angle-left change-background fa-2x"></i>
            <i class="fas fa-angle-right change-background fa-2x"></i>
            <div class="bullets">
                <ul>
                    <li></li>
                    <li class="active"></li>
                    <li></li>
                </ul>
            </div>

        </div>

        <div class="main-heading">
            <h2> services</h2>
            <p>
                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget
                tincidunt.
            </p>
        </div>


        <div class="services">
                <div class="flexx">
                    <div class="image"> 
                        <i class="fas fa-desktop fa-3x"></i>
                    </div>

                    <div class="write">
                        <h3> Vorem amet intuitive</h3>
                        <p> 
                            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget
                            tincidunt nibh pulvinar a. Curabitur aliquet quam. 
                        </p>
                    </div>
                </div>
                <div class="flexx">
                    <div class="image"> 
                        <i class="fas fa-cog fa-3x"></i>
                    </div>

                    <div class="write">
                        <h3> Vorem amet intuitive</h3>
                        <p> 
                            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget
                            tincidunt nibh pulvinar a. Curabitur aliquet quam. 
                        </p>
                    </div>
                </div>
                <div class="flexx">
                    <div class="image"> 
                        <i class="fas fa-pencil-ruler fa-3x"></i>
                    </div>

                    <div class="write">
                        <h3> Vorem amet intuitive</h3>
                        <p> 
                            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget
                            tincidunt nibh pulvinar a. Curabitur aliquet quam. 
                        </p>
                    </div>
                </div>
                <div class="flexx">
                    <div class="image"> 
                        <i class="fas fa-camera fa-3x"></i>
                    </div>

                    <div class="write">
                        <h3> Vorem amet intuitive</h3>
                        <p> 
                            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget
                            tincidunt nibh pulvinar a. Curabitur aliquet quam. 
                        </p>
                    </div>
                </div>
        </div>

        <div class="design">
            <div class="image">
                <img src="../static/images/mobile.png" alt="mobile">
            </div>
            <div class="text">
                <h2>Our Design Comes With...</h2>
                <ul>
                  <li>Responsive Design</li>
                  <li>Modern And Clean Design</li>
                  <li>Clean Code</li>
                  <li>Browser Friendly</li>
                </ul>
            </div>  
        </div>     

        <div class="portfolio">
            <div class="main-heading">
                <h2>Portfolio</h2>
                <p>
                  Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget
                  tincidunt.
                </p>
            </div>

            <div class="shuffel">
                <ul>
                    <li id="active"> All </li> 
                    <li> App </li> 
                    <li> Photo </li> 
                    <li> Web  </li> 
                    <li> Print </li> 
                </ul>

            </div>

            <div class="container-image">
                <div class="box">
                    <img src="../static/images/shuffle-01.jpg" alt="" />
                    <div class="caption">
                      <h4>Awesome Image</h4>
                      <p>Photography</p>
                    </div>
                  </div>
                  <div class="box">
                    <img src="../static/images/shuffle-02.jpg" alt="" />
                    <div class="caption">
                      <h4>Awesome Image</h4>
                      <p>Photography</p>
                    </div>
                  </div>
                  <div class="box">
                    <img src="../static/images/shuffle-03.jpg" alt="" />
                    <div class="caption">
                      <h4>Awesome Image</h4>
                      <p>Photography</p>
                    </div>
                  </div>
                  <div class="box">
                    <img src="../static/images/shuffle-04.jpg" alt="" />
                    <div class="caption">
                      <h4>Awesome Image</h4>
                      <p>Photography</p>
                    </div>
                  </div>
                  <div class="box">
                    <img src="../static/images/shuffle-05.jpg" alt="" />
                    <div class="caption">
                      <h4>Awesome Image</h4>
                      <p>Photography</p>
                    </div>
                  </div>
                  <div class="box">
                    <img src="../static/images/shuffle-06.jpg" alt="" />
                    <div class="caption">
                      <h4>Awesome Image</h4>
                      <p>Photography</p>
                    </div>
                  </div>
                  <div class="box">
                    <img src="../static/images/shuffle-07.jpg" alt="" />
                    <div class="caption">
                      <h4>Awesome Image</h4>
                      <p>Photography</p>
                    </div>
                  </div>
                  <div class="box">
                    <img src="../static/images/shuffle-08.jpg" alt="" />
                    <div class="caption">
                      <h4>Awesome Image</h4>
                      <p>Photography</p>
                    </div>
                  </div>
          
            </div>

            <div class="more">
                <a  href="#more"> more </a>
            </div>
        </div> 

        <div class="video">
            <video autoplay loop muted>
                <source src="../static/images/awesome-video.mp4" type="video/mp4"> 
            </video>
            <div class="text">
                <h2> super awesome-video here</h2>
                <p> it's all you needd </p>
                <button> see more </button>
            </div>
        </div>

        <div class="about">
            <div class="container">
                <div class="main-heading">
                    <h2> services</h2>
                    <p>
                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget
                        tincidunt.
                    </p>
                </div>

                <img src="../static/images/about.png" alt="about">                

            </div>

        </div>

        <div class="stas">
            <div class="stas-container">
                <div class="box">
                    <i class="fas fa-mug-hot"></i>
                    <div class="number">1.236</div>
                    <p>Coffee Drinks</p>
                  </div>
                  <div class="box">
                    <i class="far fa-folder"></i>
                    <div class="number">256</div>
                    <p>Completed Projects</p>
                  </div>
                  <div class="box">
                    <i class="far fa-envelope"></i>
                    <div class="number">1,743</div>
                    <p>Mail Sent</p>
                  </div>
                  <div class="box">
                    <i class="fas fa-trophy"></i>
                    <div class="number">17</div>
                    <p>Awards Received</p>
                  </div>

            </div>
        </div>
        

            
        
    </body>
</html>