// mixin

@use '../my-modules/mixin'as *;

// function 

@use '../my-modules/function'as *;
// global-rules
@use '../layout/global-rules'as *;

//component 
@use '../component/section' as *;

//variables 
@use '../variables/media'as *;
@use '../variables/media'as *;
@use '../variables/golbal-varibles'as *;
@use '../layout/global_boxes'as *;

//////////////////



header {
    & {
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 2;
    }

    .container {
        & {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
            min-height: 97px;
        }

        &::after {
            content: "";
            position: absolute;
            height: 1px;
            background-color: $second-color;
            bottom: 0;
            width: calc(100% - 30px);
            left: 15px;
        }

        .navbar {
            & {
                flex: 1;
                justify-content: flex-end;
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            .toggle-menu {
                & {
                    color: white;
                    font-size: 30px;
                }

                @include media (min, small) {
                    display: none;
                }


            }

            .nav {
                ul {
                    & {
                        width: 100%;
                        @extend %nav-list-reset;

                        @include media (max, small) {
                            display: none;
                        }

                    }

                    li a {
                        & {
                            display: block;
                            padding: 40px 20px;
                            color: white;
                            font-size: 14px;
                            transition: 0.3s;
                            position: relative;
                            z-index: 2;

                        }

                        &.active,
                        &:hover {
                            color: $main-color;
                            display: block;
                            border-bottom: 1px solid $main-color;
                            padding-bottom: 38px;

                        }



                    }

                }
            }

            @include media (max, small) {
                .toggle-menu:hover+.nav ul {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background-color: rgb(0 0 0 / 50%);

                    a {
                        padding: 16px;
                    }

                }
            }

            .search {
                & {
                    i {
                        color: white;
                        font-size: 20px;
                    }

                    margin-left: 130px;
                    position: relative;

                    @include media (max, medium) {
                        margin-left: 25px;
                    }

                    @include media (max, small) {
                        margin-left: 40px;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    height: 26px;
                    background-color: white;
                    top: -5px;
                    width: 2px;
                    right: 32px;
                }

            }
        }

    }
}

.landing {
    & {
        min-height: 100vh;
        background-image: url("../images/landing.jpg");
        background-size: cover;
        position: relative;
    }
    .overlay {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 45%);
    }

    .text {
        & {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 50%;
            padding: 3px 40px;
            
            color: white;
            background-color: rgba($main-color, 25%);
            display: flex;
            justify-content: flex-end;

            @include media (max, small) {
                width: 100%;
            }


        }
        .content {
            & {     
                max-width: 500px;
                @include media (max, small) {
                    max-width: 100%;
                }
            }
            h2 {
                font-size: 28px;
                font-weight: normal;
                line-height: 1.6;
            }
            p {
                font-size: 15px;
                line-height: 1.8;
            }
        }

    }

    .change-background  { 
        color: #ddd;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        @include media (max, medium) {
            display: none;
        }
    }
    .fa-angle-right {
        right: 15px;
    }
    .fa-angle-left {
        left: 15px;
    }
    .bullets {
        & {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 30px;
            
        }
        ul {
            & {
                list-style: none;
                width: 100px;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
            }
           
            li {
                width: 15px;
                height: 15px;
                border: 1px solid white;
                border-radius: 50%;
            }
            .active {
                background-color: $main-color;
                border-color: $main-color;
            }
        }
    }
}

.main-heading {
    @extend %main-heading;
}

.services {
        & {
            padding : 100px;
            display: grid;
            grid-template-columns: repeat(2, minmax(300px, 1fr));
            grid-column-gap: 40px;
            grid-row-gap: 60px;
    
            @include media (max, medium) {
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            }
            @include media (max, small) {
                padding: 100px 0;
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            }
        
        }
        .flexx {
            & {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                @include media (max , small) {
                    flex-direction: column;
                    text-align: center;
                }

            }
            .write {
                h3 {
                    margin-bottom: 30px;
                    color: $main-color;
                }
                p {
                    line-height: 1.8;
                    color: #777;
                }
            }

               
            .image {
                align-self: flex-start;
                margin-top: 20px;
                margin-right: 80px;
                @include media (max , medium) {
                    margin-right: 50px;
                }
                @include media (max , small) {
                    align-self: center;
                    margin-right: 0;
                }
            }

        }
    

    
}

.design {
    & {
        padding-top : 100px;
        padding-bottom : 100px;
        height: 600px;
        background-image: url("../images/design-features.jpg");
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        overflow: hidden;

        @include media (max, medium) {
            flex-direction: column;
            justify-content: center;
        }
    }
    &::before {
        content: "";
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: rgba(black, 60%);
    }
    .text, .image {
        z-index: 2;
        flex: 1;
        position: relative;
    }
    .text {
        & {
            color: white;
            padding: 50px;
            background-color: rgba($main-color, 25%);  
            border-radius: 0.5%;  
        }
        h2 {
            font-weight: normal;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        ul li {
            & {
                padding-bottom: 15px;
                list-style: none;
            }
            &::before {
                
                font-family: "Font Awesome 5 Free";
                content: "\f108";
                font-weight: 900;
                margin-right: 20px;
                position: relative;
                top: 1px;
            }
            
        }     
    }
    .image {
        top: 130px;
        left: 50px;

        @include media (max, medium) {
            display: none;
        }
    }
    

    

}

.portfolio {
    & {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    

    .shuffel {
        & {
            display: flex;
            flex-direction: row;
            justify-content: center;
         
            
        }
        ul {
            & {
                @extend %nav-list-reset;
            }


            li {

                & {
                    padding: 10px;
                    @include btn(60px, 35px, black, light, $main-color);
                }
                &:not(:first-child):hover #active{
                    background-color: white;
                }

            }
            #active {
                background-color: $main-color;
                
            }



            
        }

    }

    .container-image {
        & {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-top: 60px;
        }
        .box {
            & {
                position: relative;
                overflow: hidden;
                @include media (min, small) {
                    flex-basis : 50%;
                }
                @include media (min, large) {
                    flex-basis : 25%;
                }
            }
            img {
                & {
                    max-width: 100%;
                    transition: 0.3s;
                }

            }
            .caption {
                & {
                    position: absolute;
                    padding: 5px;
                    height: calc(100% - 130px);
                    width: 100%;
                    background-color: white;
                    left: 0;
                    bottom: -100%;
                    transition: 0.3s;
                }
                h4 {
                    font-weight: normal;
                    margin-bottom: 10px;

                }
                p {
                    color: $main-color;
                }

            }
            &:hover  {
                .caption {
                    bottom: 0;
                }
                img {
                    transform: rotate(3deg) scale(1.1);
                }
            }

        }

    }

    .more {
        & {
            margin-top: 27px;
            @extend %center-flex;
        }
        a {
            text-decoration: none;
            @include btn(80px, 45px, black, $main-color, white);
            text-transform: uppercase;
        }
        

    }
}
